@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Resource Not Found";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">Resource not found.</h2>
</hgroup>
