@* Copyright Stefan Nychka, BSD 3-Clause license, COPYRIGHT.txt *@
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Converted Text</title>
</head>
<body>
<h1>Converted Text</h1>
@Html.Raw(ViewBag.Content)
</body>
</html>
